.timer {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

#timer {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.timer-content__values {
  flex: 1;
  text-align: center;
  font-weight: 200;
}

.timer {
  display: grid;
  justify-content: center;
}

.timer-buttons {
  flex-direction: row;
  justify-content: space-between;
}

.timer-button {
  width: 100px;
}

.timer-content {
  display: flex;
  justify-content: center;
  flex: 2;
}

.timer-content__values {
  font-size: 10vw;
}

.timer-content__circular-progress {
  justify-content: center;
  animation-duration: 1s;
}

.timer-buttons {
  display: flex;
}

.timer-button {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 425px) {
  .timer-button {
    width: 70px;
    height: 70px;
  }
}
